@import 'config';

.favorite {
	@media (max-width: 1000px) {
        display: none;
    }

	position: fixed;
	bottom: 0; top: auto;
	left: 0; right: 0;

	height: 150px;
	widows: 100%;

	background-color: $secondaryColor;
	padding: 10px;

	.item {
		float: left;
		height: 130px;
	}

	.quitArea {
		width: 100px;
		border-right: solid 1px $grey;
		padding-top: 20px;

		img {
			height: 30px;
			width: auto;
			margin: 10px 35px;
		}

		h5 {
			text-align: center;
			margin-top: 0;
			font-weight: bold;
		}
	}

	.houseItem {
		position: relative;
		margin: 0 20px;
		text-align: center;
		padding-top: 10px;
		overflow: visible;

		:hover {
			.houseInfo {
				.connerRemoveButtom {
					display: block;
				}
			}
		}

		.houseInfo {
			position: relative;
			height: 80px;

			img {
				height: 100%;
				width: auto;
			}

			.connerRemoveButtom {
				position: absolute;
				top: -10px; bottom: auto;
				left: auto; right: -10px;
				height: 20px;
				width: 20px;
				display: none;
			}
		}

		.description {
			font-size: 12px;
			margin-top: 5px;
			margin-bottom: 0px;
			text-align: center;
		}

		.title {
			color: $primaryColor;
			font-weight: bold;
		}
	}

	.houseItem:hover {
		.connerRemoveButtom {
				display: block;
			}
	}

	.moreInfoArea {
		float: right;
		width: 200px;
		text-align: center;

		button {
			width: 100px;
			height: 30px;
			background-color: $darkPrimaryColor;
			border: none;
			outline: none;

			font-size: 12px;
			color: #FCFCFC;
			font-weight: bold;
		}
	}
}