@import 'config';

.filter {
	min-height: 80px;
	background-color: $primaryColor;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;

    @media (max-width: $phoneMaxWidth) { 
        padding-top: 5px;
        padding-bottom: 5px;
    }

	#showFilterButton {
		height: 100%;
		float: left;
		border-right: solid 2px #FFF;

		button {
			margin: 0;
			float: left;
			color: #FCFCFC;
			font-size: 20px;
			margin: 5px;
            background: none;
            border: none;
            outline: none;

            @media (max-width: $phoneMaxWidth) {
                font-size: 14px;
                margin-top: 10px;
            }
		}

		.icon {
			width: 10px;
			height: auto;
			float: left;
			margin: 20px;
			margin-left: 0px;
		}
	}

    .filterRightCol {
        float: left;
        max-width: calc(100% - 200px);
        @media (max-width: $phoneMaxWidth) { 
            max-width: calc(100% - 130px);
        }

        .selectedItemContainer {
            overflow: hidden;
            max-height: 40px;            

            .selectedItem {
                float: left;
                height: 26px;
                background-color: $secondaryColor;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 5px;
                margin: 7px 5px;

                outline-style: solid;
                outline-width: 1px;
                outline-color: $grey;

                .categoryImage {
                    height: 16px;
                    width: auto;
                    float: left;
                }

                h5 {
                  float: left;
                  font-size: 12px;
                  margin: 2px;
                }

                .removeButton {
                  height: 10px;
                  float: right;
                  margin: 3px;
                }

                @media (max-width: $phoneMaxWidth) {
                    height: 20px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 5px;
                    padding-right: 5px;

                    .categoryImage {
                        height: 12px;
                        width: auto;
                        float: left;
                    }

                     h5 {
                      float: left;
                      font-size: 10px;
                      margin: 2px;
                    }

                    .removeButton {
                      height: 5px;
                      float: right;
                      margin: 5px 2px;
                    }
                }
            }    
        }

        #expandButton {
            clear: both;
            height: 26px;
            margin: 7px 5px;
            background: none;
            outline: none;
            border: none;

            @media (max-width: $phoneMaxWidth) {
                font-size: 12px;
                margin-top: 0px;
            }
        }
    }
}

.filterOptions {
    display: none;
    width: 100%;

    @media (min-width: 1000px) {
        >.row>.rightCol {
            border-left: solid $grey 1px;
        }
    }
    

    .item {
        width: 100%;
        min-height: 60px;
        font-size: 12px;
        padding-top: 10px;
        border-bottom: solid 1px $grey;

        .item {
            border: none;

            .fieldName {
                width: 30px;
            }
        }

        .fieldImage {
            float: left;
            width: 14px;
            height: auto;

            margin: 10px;
        }

        .fieldName {
            float: left;
            width: 60px;
            margin-top: 10px;
        }

        .fieldOption {
            float: left;
            margin: 5px 3px;
            font-size: 12px;
            height: 25px;  
            vertical-align: middle;

            input {
                height: 25px;
                width: 50px;
                padding-left: 10px;

                @media (max-width: $phoneMaxWidth) { 
                    width: 30px;
                    padding-left: 3px;
                }
            }

            button {
                height: 25px;
                padding-right: 0px;
                padding-left: 0px;
                font-size: 12px;
                font-weight: normal;
                color: #FCFCFC;
                width: 40px;
            }

            select {
                height: 25px;
                width: 130px;
                @media (max-width: $phoneMaxWidth) { 
                    width: 60px;
                }
            }
        }

        .dash {
            float: left;
            padding-top: 10px;
        }

        .fieldGroup {
            float: left;
        }

        .floatEnd {
            clear: both;
        }
    }

    #priceField {
        input[type=text] {
            width: 100px;
            @media (max-width: $phoneMaxWidth) { 
                width: 50px;
            }
        }

        .priceSlider {
            float: right;
        }

        .slider-handle {
            background-color: $primaryColor;
            background-image: none;
        }

        .slider-selection {
            background-image: none;
            background-color: $lightPrimaryColor;
        }

        .slider-horizontal {
            width: 200px;
            margin-left: 100px;
        }

        .tooltip, .tooltip-inner, .tooltip-arrow {
            display: none;
        }
    }

    #additional {
        .fieldName {
            width: calc(100% - 40px);
        }

        .checkbox {
            height: 30px;
            padding-left: 20px;
        }

        input[type=checkbox] {
            height: 16px;
            width: 16px;
            border-radius: 0;
            margin-top: 0px;
        }
    }

    button {
        width: 100%;
        height: 40px;
        background-color: $primaryColor;
        font-size: 14px;
        border: none;
        outline: none;
        color: #FCFCFC;
        font-weight: bold;
    }
    
}