@import 'config';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//notification for IE users
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
    font-family: "simhei";
    src: url(../font/simhei.ttf) format("truetype");
}

body {
  color: #808080;

  >.container {
    padding: 0;
  }
  // font-family: simhei;

  @import 'header';
  @import 'filter';
  @import 'result';
  @import 'favorite';

  @media (min-width: $phoneMaxWidth) {
      padding-bottom: 100px;
  }
}