
//GLOBAL PROPERTIES
//colors
$primaryColor: #54e6d7;
$secondaryColor: #ecf9f8;
$grey: #CCC;

//screen size
$mobileMaxWidth: 767px;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//notification for IE users
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//restyle some bootstrap component a bit
.container {
  padding: 0;
}

body {
  color: #808080;

  @import 'header';
  @import 'filter';
}