@import 'config';

.resultContainer {
	.resultNavBar {
		padding: 1px;
		height: 50px;
		background-color: $lightPrimaryColor;
		margin: 0 -15px;

		.numberOfResult {
			height: 50px;
			font-size: 12px;
			padding: 15px;
			float: left;
		}

		#sortController {
			text-align: left;
			height: 50px;
			padding: 10px;
			float: right;
			font-size: 12px;

			>div {
				float: left;
				height: 30px;
				padding-top: 9px;
			}

			select {
				float: right;
				width: 50%;
				height: 30px;
				font-size: 12px;
			}
		}
	}

	.resultList {
		.result {
			position: relative;
			outline: solid 1px $grey;

			.houseImage {
				width: 100%;
				height: auto;
			}

			.likeButton {
				position: absolute;
				top: 20px; bottom: auto;
				right: 15px; left: auto;
				height: 50px;
				width: 50px;
				background: none;
				outline: none;
				border: none;
				padding: 0;
			}

			.compareButton {
				position: absolute;
				top: 40%; bottom: auto;
				right: 20px; left: auto;
				height: 40px;
				width: 40px;

				color: #FCFCFC;
				font-weight: bold;
				font-size: 12px;

				border-radius: 50%;
				border: none;
				background-color: rgba(0,0,0, 0.5);
				outline: none;
			}

			.detail {
				position: absolute;
				top: auto; bottom: 40px;
				right: 0; left: 0;
				background: linear-gradient(rgba(0,0,0,0), #000);

				h5 {
					margin: 5px;
					color: #FCFCFC;
					font-weight: bold;
				}

				.address1 {
					color: $primaryColor;
				}

				.busInfo {
					height: 20px;
					margin-top: 10px;

					img {
						float: left;
						height: 20px;
					}

					h5 {
						font-size: 14px;
						margin: 3px 0px 3px 20px;
						color: #FCFCFC;
						font-weight: bold;
					}
				}
			}

			.statistic {
				background-color: #FCFCFC;
				height: 40px;
				overflow: hidden;
				padding: 10px;

				.detailItem {
					height: 20px;
					float: left;
					font-size: 16px;
					margin: 0 10px;

					img {
						height: 14px;
						margin: 3px;
						float: left;
					}
				}
				.price {
					float: right;
					font-size: 14px;
				}
			}
		}

		.featureResult {
			position: relative;

			.houseImage {
				width: 60%;
				height: auto;

				@media (max-width: $mobileMaxWidth) {
					width: 100%;
				}
			}

			.featureDetail {
				width: 40%;
				float: right;
				padding: 1px;
				@media (max-width: $mobileMaxWidth) {
					display: none;
				}

				.address {
					margin: 10px;
					border-bottom: solid 1px $grey;
				}

				.detailItem {
					margin: 10px;

					img {
						width: 15px;
						height: auto;
						float: left;
						margin: 0 5px;
					}
				}
			}

			#price {
				margin-left: 10px;
			}

			.statistic, .detail {
				@media (min-width: $mobileMaxWidth) {
					display: none;
				}
			}

			.likeButton {
				@media (min-width: $mobileMaxWidth) {
					top: 75px;
				}
			}

			.compareButton {
				@media (min-width: $mobileMaxWidth) {
					top: 150px;
				}
			}

			#triangle 
			{
			    border-color: $darkPrimaryColor rgba(0,0,0,0) rgba(0,0,0,0) $darkPrimaryColor;
			    border-style: solid; 
			    border-width: 50px; 
			    width: 0px; /* real width is 100px; */
			    height: 0px; /* same as width */
			    line-height: 0px;
			    position: absolute;
			}


			#text {
			    font-size: 20px;
			    position: absolute;
			    top: 20px; /* 50 - something related to line heigth */
			    left: -30px; /* 50 - 142/2 - something related to line height */
			    transform: rotate(-45deg);
			    width: 142px; /* base width -> (100^2 + 100^2)^1/2 */
			    text-align: center;
			    color: #FCFCFC;
			}
		}

		.col-xs-12 {
			padding: 0;
		}

		.pageNav {
			height: 50px;
			border-top: solid $grey 1px;
			border-bottom: solid $grey 1px;
			margin: 20px;
			padding-top: 17px;
			padding-bottom: 17px;
			text-align: center;

			.item {
				float: left;
				width: 14.285%;
				height: 20px;

				img {
					height: 16px;
					width: auto;
				}
			}

			.current {
				color: $primaryColor;
			}
		}
	}

	.map {
		@media (max-width: 1000px) {
			display: none;
		}

		position: relative;
		padding: 0;

		.pin {
			position: absolute;

			height: 40px;

			img {
				height: 100%;
				width: auto;
			}

			text {
				position: absolute;
				top: 7px; bottom: auto;
				left: 35px; right: auto;
				font-size: 12px;
			}
		}

		#pin1 {
			top: 70%; bottom: auto;
			right: 50%; left: auto;
		}

		#pin2 {
			top: 60%; bottom: auto;
			right: 30%; left: auto;
		}

		.detail {
			position: absolute;
			top: 20%; bottom: auto;
			left: 20%; right: auto;
			height: 300px;

			img {
				height: 100%;
				width: auto;
			}

			.component {
				position: absolute;	
			}

			.address {
				height: 50px;
				width: 100%;
				top: 0; left: 0;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;

				h5 {
					font-size: 12px;
					font-weight: bold;
					margin-bottom: 0;
					margin-top: 5px;
				}

				.address1 {
					color: $primaryColor;
				}
			}

			.houseImage {
				top: 50px; left: 10px; right: 10px;
				 img {
				 	width: 100%;
				 	height: auto;
				 }
			}

			.statistic {
				background-color: #FCFCFC;
				height: 40px;
				overflow: hidden;
				padding: 10px;
				position: absolute;
				bottom: 20px; top: auto;
				left: 5px; right: 5px;

				.detailItem {
					height: 20px;
					float: left;
					font-size: 16px;
					margin: 0 10px;

					img {
						height: 14px;
						margin: 3px;
						float: left;
					}
				}
				.price {
					float: right;
					font-size: 14px;
				}
			}
		}
	}
}